body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #108d83;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.mayor {
	border: 5px solid rgba(0, 199, 178, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.photo {
	border: 5px solid rgba(0, 199, 178, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro de .photo */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se coloquen en columna */
    align-items: center;  /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
}


.photo img {
    display: inline-block; /* Para centrar horizontalmente */
    max-width: 200px; /* Asegura que las imágenes no se extiendan más allá de su contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    max-height: 100%; /* Establece una altura máxima para las imágenes */
    transition: transform 0.3s ease-in-out;
	margin: 0; /* Sin espacio entre las imágenes */
}
.photos {
	border: 5px solid rgba(0, 199, 178, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro de .photo */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se coloquen en columna */
    align-items: center;  /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
}


.photos img {
    display: inline-block; /* Para centrar horizontalmente */
    max-width: 100%; /* Asegura que las imágenes no se extiendan más allá de su contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    max-height: 200px; /* Establece una altura máxima para las imágenes */
    transition: transform 0.3s ease-in-out;
	margin: 0; /* Sin espacio entre las imágenes */
}
.photos img:hover {
    transform: scale(1.2); /* Aumenta el tamaño del ticket al pasar el ratón */
}
.stella-img {
    width: 20px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    /* Puedes ajustar más estilos aquí si lo deseas */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Estilos adicionales para el efecto de aparición/desaparición de imágenes */

#regalo {
    display: block; /* Muestra solo la imagen "regalo" inicialmente */
    cursor: pointer; /* Cambia el cursor a puntero cuando pasas sobre la imagen */
}

#alo, #reg {
    display: none; /* Oculta las imágenes "alo" y "reg" inicialmente */
    margin: 10px 0; /* Agrega espacio entre las imágenes cuando se muestran */
}


/* Define el estilo para la animación de romperse */
@keyframes break {
    0% {
        transform: scale(1);
        opacity: 1;
        height: auto; /* Mantiene la altura original al inicio */
      
    }
    25% {
        transform: scale(1.1) rotate(-5deg);
        opacity: 0.9;
        height: auto;
     
    }
    50% {
        transform: scale(1.2) rotate(0deg);
        opacity: 0.7;
        height: auto;
   
    }
    75% {
        transform: scale(1.3) rotate(5deg);
        opacity: 0.5;
        height: 0;
        margin: 0;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
        height: 0;
        margin: 0;
    }
}

/* Aplica la animación cuando se hace clic en el ticket */
.ticket.used {
    animation: break 1s ease-out forwards; /* Duración de la animación extendida a 1 segundo */
}